---
title: Home
heading: 'Yo, Assemble!'
lead: Welcome to my blog!
---
<div>
    <h1>{{ heading }}</h1>
    <p>This is a Generator template using Assemble</p>
    <p><a href="http://assemble.io" class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>
    <img src="assets/images/kitten.jpg" alt=""/>
</div>
